* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    font-size: 62.5%;
    --cinza: #24292F;
    --cinzaClaro: #3D454C;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza);
}

.cabecalhoPesquisa {
    height: 2.8rem;
    width: 100%;
    padding-left: 1rem;
    border: 0.15rem solid var(--cinzaClaro);
    background-color: var(--cinza);
}

.headerEsquerda {
    display: flex;
    gap: 1.5rem;
}

.navCabecalho {
    display: flex;
}

.listaLinks {
    padding-block: 1.6rem;
    font-weight: 630;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.liLinks a {
    color: white;
    width: max-content;
}