* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    font-size: 62.5%;
    --cinza: #24292F;
    --cinzaClaro: #3D454C;
    --cinzaClaroPlaceHolder: #C8C9CB;
}

.cabecalho {
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza);
}

.campoPesquisa {
    height: 2.8rem;
    width: 27.2rem;
    align-items: center;
    width: max-content;
    display: flex;
    border: .2rem solid var(--cinzaClaro);
    border-radius: .75rem;
}

.cabecalhoPesquisa {
    border: 0;
    width: 24.6rem;
    padding-inline: 1.2rem;
    background-color: var(--cinza);
}

.cabecalhoPesquisa::placeholder {
    color: var(--cinzaClaroPlaceHolder);
}

.barraPesquisa {
    margin-right: .1em;
    height: 2rem;
    width: 2.2rem;
}

.headerEsquerda {
    margin-left: 2rem;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.navCabecalho {
    display: flex;
}

.listaLinks {
    padding-block: 2rem;
    font-weight: 630;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.liLinks a {
    color: white;
    width: max-content;
}

.botoesDireita {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 4rem;
}

.avatar {
    background-color: var(--cinza);
    padding: 0;
    border-radius: 0;
    aspect-ratio: 20 / 20;
    white-space: nowrap;
}